# Analysis on mutual funds

**Details**

- Name : Dhruvisha Pandya(12), Dhwani Haridwari(15), Niharika Singh(39)
- Branch : Data Management & Visual Insight
- Degree : Bachelors of science
- Sem : Semester 5

**Abstract**

- Mutual funds give small or individual investors access to diversified, professionally managed portfolios. Mutual funds are divided into several kinds of categories, representing the kinds of securities they invest in, their investment objectives, and the type of returns they seek.
- This "Analysis of Mutual Funds from Different Companies" project aims to provide valuable insights into the performance associated with mutual funds offered by various investment companies.
- This project focuses on conducting an in-depth analysis of mutual funds offered by different companies to understand difference between different companies' mutual funds.

**Project Overview**
- The project will involve the following key steps:

- Data Collection: Gather historical data of mutual funds from different companies. This data includes monthly performance of mutual funds. This data can be obtained from financial data providers, such as Bloomberg, Morningstar, Yahoo Finance, etc.

- Data Preprocessing: Clean and preprocess the collected data to ensure consistency and accuracy. Handle missing data, standardize formats, and align data points for meaningful comparisons.

- Performance Analysis: Calculate and analyze performance metrics such as average annual returns, volatility, Sharpe ratio, and benchmark comparisons. This analysis will provide insights into how well each mutual fund has performed over time.

- Visualization: Create visual representations such as charts and graphs to present the findings effectively. Visualizations could include performance trends, risk profiles, portfolio compositions, and benchmark comparisons.

-Conclusion and Recommendations: Summarize the findings and provide insights into the strengths and weaknesses of mutual funds from different companies. Offer recommendations based on the analysis to guide investors in their decision-making process.

**Expected Outcomes**
- The project will provide investors with a comprehensive analysis of mutual funds offered by different companies. This analysis will enable investors to compare and contrast various funds based on performance. The project's outcomes can be used as a valuable resource for investors looking to diversify their investment portfolios through mutual funds.

**Information about attributes**

- Month
- Net Asset Values of mutual funds
- returns of nav

In [2]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

- importing libraries

In [3]:
df_companies = pd.ExcelFile("Stat_Pro.xlsx")
df_companies.sheet_names

['AXIS.', 'HDFC.', 'ICICI.', 'SBI.', 'BOI.', 'SUMMARY', 'Sheet1']

# Analysis on AXIS mutual funds

In [4]:
df_axis= pd.read_excel("Stat_Pro.xlsx", sheet_name="AXIS.")
df_axis

,Unnamed: 0,AXIS,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MONTH,PRICE,RETURN(%) = ((P1-P0)/P0)*100,NaN,NaN,1+K,NaN,NaN,NaN,NaN,NaN
3,JANUARY,356.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FEBRUARY,323.68,-9.206171,NaN,NaN,0.907938,NaN,NaN,NaN,NaN,NaN
5,MARCH,359.6,11.09738,NaN,NaN,1.110974,NaN,NaN,NaN,NaN,NaN
6,APRIL,347.1,-3.476085,NaN,NaN,0.965239,NaN,NaN,ARITHMETIC MEAN,NaN,0.482276
7,MAY,357.12,2.886776,NaN,NaN,1.028868,NaN,NaN,GEOMETRIC MEAN,NaN,NaN
8,JUNE,346.5,-2.97379,NaN,NaN,0.970262,NaN,NaN,NaN,NaN,1.040000
9,JULY,361.15,4.227994,NaN,NaN,1.04228,NaN,NaN,NaN,NaN,1.003572
10,AUGUST,364.56,0.944206,NaN,NaN,1.009442,NaN,NaN,NaN,NaN,0.003572
11,SEPTEMBER,354.3,-2.814352,NaN,NaN,0.971856,NaN,NaN,GEOMETRIC MEAN,NaN,0.357188
12,OCTOBER,354.3,0,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
13,NOVEMBER,356.7,0.677392,NaN,NaN,1.006774,NaN,NaN,NaN,NaN,NaN
14,DECEMBER,370.76,3.941688,NaN,NaN,1.039417,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_axis.rename(columns={'Unnamed: 0':'Month', 'AXIS':'nav','Unnamed: 2':'returns','Unnamed: 5':'1+k','Unnamed: 8':'means', 'Unnamed: 10':'mean values'}, inplace=True)
print(df_axis.columns)

- renaming headers

In [ ]:
df_axis=df_axis.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 9','means','mean values'], axis=1)

- dropping unnecessary columns(cleaning data)

In [ ]:
print(df_axis.to_string())

In [ ]:
df_axis.shape

In [ ]:
df_axis= df_axis.drop(index = [0,1,2])
df_axis

- The code's purpose is to remove specific rows from the DataFrame df_axis. The index values 0, 1, and 2 correspond to rows that are being dropped. This could be done for various reasons, such as data cleaning, removing outliers, or excluding specific entries from the analysis. The code then displays the modified DataFrame, showing the result after the specified rows have been removed.

In [ ]:
df_axis.head()

In [ ]:
df_axis.tail()

In [ ]:
df_axis.shape #shape of the dataset

- The provided code is aimed at exploring and understanding the structure and content of the DataFrame df_axis.

In [ ]:
df_axis.columns #display columns name of the dataset

In [ ]:
df_axis.info()

- the provided code is focused on obtaining valuable information about the DataFrame df_axis. 
- Using columns, you can identify the column names, and using info(), you can gather detailed information about data types and non-null values. These operations aid in gaining insights into the composition and quality of the dataset.

In [ ]:
sb.pairplot(df_axis)
plt.show()

In [ ]:
df_axis['returns'].plot(kind = "bar",color = 'black')  #bar graph for returns

In [ ]:
df_axis['returns'].plot(kind = "barh",color = 'black') #column chart for returns

In [ ]:
df_axis['returns'].plot(kind = "hist",color = 'black')
plt.show()

In [ ]:
df_axis['returns'].plot(kind = "kde",color = 'black') #kde plot for return values
plt.show()

In [ ]:
sb.scatterplot(df_axis['returns'], color='black')

In [ ]:
df_axis['returns'].plot(color='black')
plt.show()

- The provided code involves using Seaborn and Matplotlib to create various types of plots based on the 'returns' column of the DataFrame df_axis.
- It showcases different ways of visualizing the distribution and characteristics of the 'returns' column in the DataFrame df_axis. It includes pair plots, bar graphs, horizontal bar charts, histograms, and KDE plots. 
- Each type of plot offers insights into different aspects of the return values of the mutual funds. These visualizations are essential for understanding the data's distribution and identifying potential patterns, outliers, or trends related to the returns.

In [ ]:
df_axis.describe()

In [ ]:
df_axis['returns'].min() #minimum return value

In [ ]:
df_axis['returns'].max() #maximum return value

In [ ]:
df_axis['returns'].mean() #mean of the returns

In [ ]:
df_axis['returns'].median() #median of the returns

In [ ]:
df_axis['returns'].std() # standard deviation of the returns

- In summary, the provided code is performing basic statistical analysis on the 'returns' column of the 'df_axis' DataFrame, which contains mutual fund return data. 
- It calculates and displays statistics such as minimum, maximum, and mean returns, offering insights into the performance of the mutual funds in terms of their returns. 
- However, it's important to note that these analyses are just preliminary and should be part of a more comprehensive analysis to draw meaningful conclusions about the mutual funds' performance.

In [ ]:
axis_sorted_returns = df_axis['returns'].sort_values()
axis_sorted_returns

In [ ]:
df_axis.to_excel('axis_output.xlsx',index=False)

- The provided code snippet demonstrates a couple of operations:
- The first operation sorts the values in the 'returns' column of the DataFrame df_axis in ascending order and stores the sorted values in the variable axis_sorted_returns. This sorted data might be useful for further analysis or visualization.
- The second operation saves the entire DataFrame df_axis (including all columns) to an Excel file named 'axis_output.xlsx'. The data will be saved in tabular format within the Excel file, and the index column will be excluded from the saved data.
- Overall, the code performs data manipulation and export operations, which can be valuable for organizing and sharing the analysis results with others.

# Analysis on HDFC mutual funds

In [ ]:
df_hdfc= pd.read_excel("Stat_Pro.xlsx", sheet_name="HDFC.")
df_hdfc

In [ ]:
df_hdfc.rename(columns={'Unnamed: 0':'Month', 'Unnamed: 1':'nav','HDFC':'returns','Unnamed: 5':'1+k'}, inplace=True)
print(df_hdfc.columns)

In [ ]:
df_hdfc=df_hdfc.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1)

In [ ]:
df_hdfc=df_hdfc.drop(index=[0,1,2])
df_hdfc

- Here we performed several operations to clean and modify the DataFrame df_hdfc using different methods :

- It renames specific columns to more meaningful names using the rename() method.
- It prints the column names after the renaming operation.
- It drops specific columns ('Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10') using the drop() method and the axis=1 argument.
- It drops specific rows with index values 0, 1, and 2 using the drop() method.
- Finally, it displays the modified DataFrame df_hdfc.
- These operations suggest that the code is preparing and cleaning the df_hdfc DataFrame by renaming columns, removing unnecessary columns and rows, and ensuring the DataFrame is in a suitable format for analysis.

In [ ]:
df_hdfc.head()

In [ ]:
df_hdfc.tail()

In [ ]:
df_hdfc.shape

- By using the shape attribute, this code provides information about the dimensions of the DataFrame df_hdfc. The first value of the tuple represents the number of rows, and the second value represents the number of columns.

In [ ]:
sb.pairplot(df_hdfc)
plt.show()

In [ ]:
df_hdfc['returns'].plot(kind='bar',color='green')
plt.show()

In [ ]:
df_hdfc['returns'].plot(kind='barh',color='green')
plt.show()

In [ ]:
df_hdfc['returns'].plot(kind='hist',color='green')
plt.show()

In [ ]:
df_hdfc['returns'].plot(kind='kde',color='green')
plt.show()

In [ ]:
sb.scatterplot(df_hdfc['returns'], color='green')

In [ ]:
df_hdfc['returns'].plot(color='green')
plt.show()

- Here we demonstrated the creation of various visualizations for the 'returns' column of the DataFrame df_hdfc. 
- These visualizations include pair plots, bar graphs, horizontal bar charts, histograms, KDE plots, scatter plots, and a line plot. 
- Each visualization serves a different purpose in exploring and understanding the distribution and characteristics of the return values of mutual funds in the dataset.

In [ ]:
df_hdfc.mean()

In [ ]:
df_hdfc.median()

In [ ]:
df_hdfc['returns'].min()

In [ ]:
df_hdfc['returns'].max()

- In summary, the provided code is performing basic statistical analysis on the 'returns' column of the 'df_ hdfc' DataFrame, which contains mutual fund return data of HDFC company. 
- It calculates and displays statistics such as minimum, maximum, and mean returns, offering insights into the performance of the mutual funds in terms of their returns.

In [ ]:
hdfc_sorted_returns = df_hdfc['returns'].sort_values()
hdfc_sorted_returns

In [ ]:
df_hdfc.to_excel('hdfc_output.xlsx',index=False)

In [ ]:
df_icici= pd.read_excel("Stat_Pro.xlsx", sheet_name="ICICI.")
df_icici

In [ ]:
df_icici.columns

In [ ]:
df_icici.rename(columns={'Unnamed: 0':'Month', 'Unnamed: 1':'nav','ICICI':'returns','Unnamed: 5':'1+k'}, inplace=True)
print(df_icici.columns)

In [ ]:
df_icici=df_icici.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1)
df_icici

In [ ]:
df_icici=df_icici.drop([0,1,2])
df_icici

In [ ]:
df_icici.head()

In [ ]:
df_icici.tail()

In [ ]:
df_icici.shape

In [ ]:
sb.pairplot(df_icici)
plt.show()

In [ ]:
df_icici['returns'].plot(kind='bar',color='yellow')
plt.show()

In [ ]:
df_icici['returns'].plot(kind='barh',color='yellow')
plt.show()

In [ ]:
df_icici['returns'].plot(kind='hist',color='yellow')
plt.show()

In [ ]:
df_icici['returns'].plot(kind='kde',color='yellow')
plt.show()

In [ ]:
df_icici['returns'].plot(color='yellow')
plt.show()

In [ ]:
sb.scatterplot(df_icici['returns'], color='yellow')

In [ ]:
df_icici['returns'].min()

In [ ]:
df_icici['returns'].max()

In [ ]:
df_icici['returns'].mean()

In [ ]:
df_icici['returns'].median()

In [ ]:
df_icici['returns'].std()

- In summary, the provided code is performing basic statistical analysis on the 'returns' column of the 'df_ icici' DataFrame, which contains mutual fund return data of ICICI company. 
- It calculates and displays statistics such as minimum, maximum, and mean returns, offering insights into the performance of the mutual funds in terms of their returns.

In [ ]:
icici_sorted_returns = df_icici['returns'].sort_values()
icici_sorted_returns

In [ ]:
df_icici.to_excel('icici_output.xlsx',index=False)

In [ ]:
df_sbi= pd.read_excel("Stat_Pro.xlsx", sheet_name="SBI.")
df_sbi

In [ ]:
df_sbi.head()

In [ ]:
df_sbi.columns

In [ ]:
df_sbi.rename(columns={'Unnamed: 0':'Month', 'Unnamed: 1':'nav','SBI':'returns','Unnamed: 5':'1+k'}, inplace=True)
print(df_sbi.columns)

In [ ]:
df_sbi=df_sbi.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1)
df_sbi

In [ ]:
df_sbi=df_sbi.drop([0,1,2])
df_sbi

In [ ]:
df_sbi.head()

In [ ]:
df_sbi.tail()

In [ ]:
df_sbi.shape

In [ ]:
sb.pairplot(df_sbi)
plt.show()

In [ ]:
df_sbi['returns'].plot(kind='bar',color='pink')
plt.show()

In [ ]:
df_sbi['returns'].plot(kind='barh',color='pink')
plt.show()

In [ ]:
df_sbi['returns'].plot(kind='kde',color='pink')
plt.show()

In [ ]:
df_sbi['returns'].plot(kind='hist',color='pink')
plt.show()

In [ ]:
df_sbi['returns'].plot(color='pink')
plt.show()

In [ ]:
sb.scatterplot(df_sbi['returns'], color='pink')

In [ ]:
df_sbi['returns'].min()

In [ ]:
df_sbi['returns'].max()

In [ ]:
df_sbi['returns'].mean()

In [ ]:
df_sbi['returns'].median()

In [ ]:
df_sbi['returns'].std()

- In summary, the provided code is performing basic statistical analysis on the 'returns' column of the 'df_ sbi' DataFrame, which contains mutual fund return data of SBI company. 
- It calculates and displays statistics such as minimum, maximum, and mean returns, offering insights into the performance of the mutual funds in terms of their returns.

In [ ]:
sbi_sorted_returns = df_sbi['returns'].sort_values()
sbi_sorted_returns

In [ ]:
df_sbi.to_excel('sbi_output.xlsx',index=False)

In [ ]:
df_boi= pd.read_excel("Stat_Pro.xlsx", sheet_name="BOI." )
df_boi

In [ ]:
df_boi.head()

In [ ]:
df_boi.columns

In [ ]:
df_boi.rename(columns={'Unnamed: 0':'Month', 'Unnamed: 1':'nav','BOI':'returns','Unnamed: 5':'1+k'}, inplace=True)
print(df_boi.columns)

In [ ]:
df_boi=df_boi.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1)
df_boi

In [ ]:
df_boi=df_boi.drop(index=[0,1,2])
df_boi

In [ ]:
df_boi.head()

In [ ]:
df_boi.tail()

In [ ]:
df_boi.shape

In [ ]:
df_boi['returns'].plot(kind='bar')
plt.show()

In [ ]:
df_boi['returns'].plot(kind='barh')
plt.show()

In [ ]:
df_boi['returns'].plot(kind='hist')
plt.show()

In [ ]:
df_boi['returns'].plot(kind='kde')
plt.show()

In [ ]:
df_boi['returns'].plot()
plt.show()

In [ ]:
sb.scatterplot(df_boi['returns'])

In [ ]:
df_boi['returns'].min()

In [ ]:
df_boi['returns'].max()

In [ ]:
df_boi['returns'].mean()

In [ ]:
df_boi['returns'].median()

In [ ]:
df_boi['returns'].std()

- In summary, the provided code is performing basic statistical analysis on the 'returns' column of the 'df_ boi' DataFrame, which contains mutual fund return data. 
- It calculates and displays statistics such as minimum, maximum, and mean returns, offering insights into the performance of the mutual funds in terms of their returns.

In [ ]:
boi_sorted_returns = df_boi['returns'].sort_values()
boi_sorted_returns

In [ ]:
df_boi.to_excel('boi_output.xlsx',index=False)

In [ ]:
df_all_companies = pd.concat([df_axis,df_hdfc,df_icici,df_sbi,df_boi],ignore_index=1)
df_all_companies.transpose